/* ===== Report Content Styles (split) ===== */

@import url("./50-report-rankings.css");
@import url("./50-report-industry.css");
@import url("./50-report-metrics.css");
@import url("./50-report-community.css");
@import url("./50-report-streaming.css");
@import url("./50-report-stocks.css");
@import url("./50-report-mvp.css");
@import url("./50-report-calendar.css");
@import url("./50-report-global.css");
